.all-pages {
}

.all-pages__header {
    font-size: 40px;
    margin-bottom: 30px;
}

.all-pages__list {
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    list-style-type: none;
}

.all-pages__list > li {
    margin-bottom: 10px;
}
