.reg-form {
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    width: 340px;
    height: 685px;
    padding: 50px 30px 30px 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

.reg-form__header {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.reg-form__fields {
    display: grid;
    align-content: start;
    grid-row-gap: 8px;
}
