.chat-header {
    padding: 18px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0 0 0 / 8%);
}

.chat-header__user {
    height: 43px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 16px;
}

.chat-header__user-image {
    grid-row: 1/3;
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

.chat-header__user-name {
    font-size: 20px;
    line-height: 125%;
    font-weight: 600;
}

.chat-header__user-online {
    position: relative;
    grid-column: 2/3;
    padding-left: 18px;
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
    color: rgba(0 0 0 / 60%);
}

.chat-header__user-online::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 4px;
    left: 0;
    background-color: #68d391;
    border-radius: 50%;
}

.chat-header__call {
    height: 43px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px 16px;
    background: rgba(97 94 240 / 10%);
    border-radius: 8px;
}

.chat-header__call:hover {
    opacity: 0.8;
    cursor: pointer;
}

.chat-header__call:active {
    opacity: 0.6;
}

.chat-header__call-image {
    margin-right: 10px;
}

.chat-header__call-text {
    font-size: 16px;
    line-height: 125%;
    font-weight: 600;
    color: var(--color-accent);
}

.options {
    height: 43px;
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.options:hover {
    cursor: pointer;
}

.options:hover .options__button {
    opacity: 0.8;
}

.options__container {
    display: none;
    position: absolute;
    top: 43px;
    right: 0;
    padding-top: 15px;
    background-color: transparent;
}

.options:hover .options__container {
    display: block;
}

.options__content {
    min-width: 240px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
}

.options__content li {
    margin-bottom: 5px;
    list-style-type: none;
}

.options__content li:last-child {
    margin-bottom: 0;
}
