.profile {
    display: grid;
    grid-template-columns: 64px 1fr;
}

.profile__link-back {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
}

.profile__data {
    width: 510px;
    margin: 0 auto;
    padding-top: 60px;
}

.profile__avatar-wrapper {
    position: relative;
    height: 130px;
    width: 130px;
    margin: 0 auto 21px auto;
}

.profile__avatar-wrapper:hover:after {
    content: "Поменять аватар";
    position: absolute;
    top: 0;
    left: 0;
    height: 130px;
    width: 130px;
    padding: 51px 33px;
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.profile__avatar {
    border-radius: 50%;
}

.profile__edit-data {
    margin-top: 97px;
    margin-bottom: 60px;
}

.profile__edit-pass {
    margin-top: 91px;
    margin-bottom: 162px;
}

.profile__save-button {
    margin: 0 auto;
}

/* User info */

.profile-name {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
}

.user-info {
    margin-bottom: 60px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 500;
}

.user-info__item {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    list-style-type: none;
}

.user-info__item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.user-info__item-data {
    margin-left: auto;
    color: var(--color-secondary);
}

/* Control */

.control {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}

.control__item {
    display: grid;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}

.control__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.control__link {
    color: var(--color-accent);
}

.control__link--error {
    color: #ff0000;
}
