.chat-sidebar {
    height: 100vh;
    border-right: 1px solid #f3f3f3;
}

.chat-sidebar__search {
    margin: 12px 24px;
}

.chat-sidebar__chat-list {
    height: calc(100vh - 145px);
    padding: 12px 16px;
    overflow: auto;
    border-top: 1px solid #00000014;
}
