.chats-header {
    display: flex;
    align-items: center;
}

.chat-header__title {
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
}

.chat-header__link {
    margin-left: auto;
    line-height: 0;
}

.chats-header__settings {
    height: 24px;
    width: 24px;
}

.chats-header__settings:hover {
    opacity: 0.8;
    cursor: pointer;
}

.chats-header__settings:active {
    opacity: 0.6;
}
