.chat-wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--color-white);
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    box-shadow: 0 0 6px #00000024;
}
