<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Project pages</title>
</head>
<body>
    <h2>Project pages</h2>
    <ul>
        <li>
            <a href="./auth.hbs">Авторизация</a>
        </li>
        <li>
            <a href="./reg.hbs">Регистрация</a>
        </li>
        <li>
            <a href="./chat.hbs">Чат</a>
        </li>
        <li>
            <a href="./profile.hbs">Профиль</a>
        </li>
        <li>
            <a href="./profileWithModal.hbs">Профиль с модальным окном</a>
        </li>
        <li>
            <a href="./profileEditData.hbs">Редактирование профиля</a>
        </li>
        <li>
            <a href="./profileEditPass.hbs">Изменение пароля</a>
        </li>
        <li>
            <a href="./404.hbs">404</a>
        </li>
        <li>
            <a href="./5xx.hbs">5xx</a>
        </li>
    </ul>
</body>
</html>
