<div class="message-box">
    <img class="message-box__attach" src="../../static/attach.png" alt="Прикрепление файлов">
    <div class="message-box__message-wrapper">
        <label class="message-box__field-label">
            <input
                class="message-box__field"
                name="message"
                id="message"
                type="text"
                placeholder="Введите сообщение"
            >
        </label>
        <img class="message-box__send-image" src="../../static/send.png" alt="Отправка сообщения">
    </div>
</div>
