<main class="settings">
    <h1 class="visually-hidden">Настройки профиля</h1>
    <a class="settings__link-back" href="">
        <img src="../asserts/back-arrow.png" alt="Назад к чатам">
    </a>
    <div class="settings__profile profile">
        <div class="profile__avatar-wrapper">
            <img class="profile__avatar" src="../asserts/default-avatar.png" alt="Аватар пользователя">
        </div>
        <h2 class="profile__name">Иван</h2>
        <ul class="profile__user-info user-info-list">
            <li class="user-info-list__item">
                <p>Почта</p>
                <p class="user-info-list__item-data">pochta@yandex.ru</p>
            </li>
            <li class="user-info-list__item">
                <p>Логин</p>
                <p class="user-info-list__item-data">ivanivanov</p>
            </li>
            <li class="user-info-list__item">
                <p>Имя</p>
                <p class="user-info-list__item-data">Иван</p>
            </li>
            <li class="user-info-list__item">
                <p>Фамилия</p>
                <p class="user-info-list__item-data">Иванов</p>
            </li>
            <li class="user-info-list__item">
                <p>Имя в чате</p>
                <p class="user-info-list__item-data">Иван</p>
            </li>
            <li class="user-info-list__item">
                <p>Телефон</p>
                <p class="user-info-list__item-data">+7 (909) 967 30 30</p>
            </li>
        </ul>
        <ul class="profile__control control-list">
            <li class="control-list__item">
                <a class="control-list__link" href="">Изменить данные</a>
            </li>
            <li class="control-list__item">
                <a class="control-list__link" href="">Изменить пароль</a>
            </li>
            <li class="control-list__item">
                <a class="control-list__link control-list__link--error" href="">Выйти</a>
            </li>
        </ul>
    </div>
</main>
<div class="modal">
    <div class="modal__content">
        <h3>Загрузите файл</h3>
        <label for="avatar">Выбрать файл на компьютере</label>
        <input id="avatar" type="file" class="visually-hidden">
        <button>Поменять</button>
    </div>
</div>