/* Settings */

.settings {
    display: grid;
    grid-template-columns: 64px 1fr;
}

.settings__link-back {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
    border-right: 1px solid #EAEAEA;
}

.settings__profile {
    width: 510px;
    margin: 0 auto;
    padding-top: 60px;
}

/* Profile */

.profile {

}

.profile__avatar-wrapper {
    position: relative;
    height: 130px;
    width: 130px;
    margin: 0 auto 21px auto;

    &:hover:after {
        content: 'Поменять аватар';
        position: absolute;
        top: 0;
        left: 0;
        height: 130px;
        width: 130px;
        padding: 51px 33px;
        font-size: 13px;
        line-height: 14px;
        font-weight: 500;
        text-align: center;
        color: var(--color-white);
        background-color: var(--color-black);
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
    }
}

.profile__avatar {
    border-radius: 50%;
}

.profile__name {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
}

.profile__user-info {
    margin-bottom: 60px;
}

/* User info */

.user-info-list {

}

.user-info-list__item {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAEAEA;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    list-style-type: none;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.user-info-list__item-data {
    margin-left: auto;
    color: var(--color-secondary);
}

/* Control */

.control-list {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}

.control-list__item {
    display: grid;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAEAEA;

    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}

.control-list__link {
    color: var(--color-accent);
}

.control-list__link--error {
    color: #FF0000;
}

/* Modal */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal__content {
    width: 340px;
    padding: 40px 30px;
    background: var(--color-white);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}


