<main class="settings">
    <h1 class="visually-hidden">Настройки профиля</h1>
    <a class="settings__link-back" href="">
        <img src="../asserts/back-arrow.png" alt="Назад к чатам">
    </a>
    <div class="settings__profile profile">
        <div class="">
            <img src="../asserts/avatar.png" alt="Аватар пользователя">
        </div>
        <h2>Иван</h2>
        <div>
            <p>Почта</p>
            <p>pochta@yandex.ru</p>
        </div>
        <div>
            <p>Логин</p>
            <p>ivanivanov</p>
        </div>
        <div>
            <p>Имя</p>
            <p>Иван</p>
        </div>
        <div>
            <p>Фамилия</p>
            <p>Иванов</p>
        </div>
        <div>
            <p>Имя в чате</p>
            <p>Иван</p>
        </div>
        <div>
            <p>Телефон</p>
            <p>+7 (909) 967 30 30</p>
        </div>
    </div>
</main>