.search {
    width: 100%;
    padding: 10px 20px;
    font-weight: 500;
    background-color: #F3F3F3;
    color: rgba(30, 30, 30, 0.8);
    border-radius: 12px;

    &::placeholder {
        font-weight: 400;
        color: rgba(30, 30, 30, 0.4);
    }
}
