<ul class="control">
    <li class="control__item">
        <a class="control__link" href="">Изменить данные</a>
    </li>
    <li class="control__item">
        <a class="control__link" href="">Изменить пароль</a>
    </li>
    <li class="control__item">
        <a class="control__link control__link--error" href="">Выйти</a>
    </li>
</ul>
