<div class="modal">
    <div class="modal__content">
        <h3 class="modal__title">Загрузите файл</h3>
        <label class="modal__attach" for="avatar">Выбрать файл на компьютере</label>
        <input id="avatar" name="avatar" type="file" class="visually-hidden">
        {{> 'button/button' text='Поменять'}}
    </div>
</div>

{{#extend "general"}}
    {{#content "main"}}
        {{#> 'profile/profile'}}
            {{> 'userInfo/userInfo'}}
            {{> 'control/control'}}
            {{> 'modal/modal'}}
        {{/ 'profile/profile'}}
    {{/content}}
{{/extend}}
