.control {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}

.control__item {
    display: grid;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAEAEA;

    &:last-child {
         margin-bottom: 0;
         border-bottom: none;
    }
}

.control__link {
    color: var(--color-accent);
}

.control__link--error {
    color: #FF0000;
}