<main class="error-template">
    <h1 class="error-template__header">{{errorType}}</h1>
    <h2 class="error-template__subheader">{{errorText}}</h2>
    <a href="#" class="error-template__link">Назад к чатам</a>
</main>