<h2 class="profile-name">Иван</h2>
<ul class="user-info">
    <li class="user-info__item">
        <p>Почта</p>
        <p class="user-info__item-data">pochta@yandex.ru</p>
    </li>
    <li class="user-info__item">
        <p>Логин</p>
        <p class="user-info__item-data">ivanivanov</p>
    </li>
    <li class="user-info__item">
        <p>Имя</p>
        <p class="user-info__item-data">Иван</p>
    </li>
    <li class="user-info__item">
        <p>Фамилия</p>
        <p class="user-info__item-data">Иванов</p>
    </li>
    <li class="user-info__item">
        <p>Имя в чате</p>
        <p class="user-info__item-data">Иван</p>
    </li>
    <li class="user-info__item">
        <p>Телефон</p>
        <p class="user-info__item-data">+7 (909) 967 30 30</p>
    </li>
</ul>