@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/* Variables */

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-primary: #1e1e1e;
    --color-secondary: #999;
    --color-accent: #615ef0;
    --color-error: #ff2f2f;
}

/* General */

* {
    all: unset;
    display: revert;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover,
button:hover {
    opacity: 0.8;
    cursor: pointer;
}

a:active,
button:active {
    opacity: 0.6;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    min-height: 100%;
    min-width: 340px;
    font-family: Inter, sans-serif;
    background-color: var(--color-white);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary);
}

/* Wrapper */

.centered-wrapper {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
}

/* Error pages (404, 5xx) */

.error-template__header {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.error-template__subheader {
    margin-bottom: 46px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}
