<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {{#block "title"}}
        <title>{{title}}</title>
    {{/block}}
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    {{#block "main"}}
    {{/block}}
</body>
</html>