{{#> 'form/form' header='Вход' btnText='Войти' linkText='Нет аккаунта?'}}
    <div class="auth__fields">
        {{> 'input/input' id='login' type='text' label='Логин'}}
        {{> 'input/input' id='password' type='password' label='Пароль'}}
    </div>
{{/ 'form/form'}}
